<!DOCTYPE html>
<html>
<head>

<title>TEMPLATE</title>														<! Title shown in browser window>

<meta charset="UTF-8">
<meta name="description" content="Create your own portfolio">				<! For search engines>
<meta name="keywords" content="portfolio, yourname, anythingyouwant">
<meta name="author" content="Your Name">
<meta name="viewport" content="width=device-width, initial-scale=1.0">		<! Mobile first>

<link rel="shortcut icon" type="image/png" href="images/snowflake.png">		<! The image in browser tab>

<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="animations.css">

<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	


	<div class="content col-xs-12">
		<div class="row">
			<div class="
					header
					section
					col-xs-offset-2
					col-xs-8 header
					col-sm-offset-3
					col-sm-6
					col-lg-offset-4
					col-lg-4">
				<div id="slick" style="height: 400px">
		<div class="slickcontent" style="background-image: url('images/f.jpg'); height: 400px;"></div>
		<div class="slickcontent" style="background-image: url('images/p.jpg'); height: 400px;"></div>
		<div class="slickcontent" style="background-image: url('images/k.jpg'); height: 400px;"></div>
		<div class="slickcontent" style="background-image: url('images/s.jpg'); height: 400px;"></div>
		<div class="slickcontent" style="background-image: url('images/n.jpg'); height: 400px;"></div>
		<div class="slickcontent" style="background-image: url('images/a.jpg'); height: 400px;"></div>
	</div>
				<div class="headerText">
					<h3 id="name">Hi, my name is Julijana Cvetkovska - Petrushevska</h3>
					<h2 class="slideUp" id="java"> I am one ambitious, curious and energetic person who likes to work as
system developer and to create great software products</h2>
				</div>
			</div>
		</div>

		<div class="section row" id="projects">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-3 col-md-3 col-lg-offset-2 col-lg-2">
				<div class="box">
					<img
						src="images/k.png"
						alt="xxx company logo"
						class="img-responsive company-logo"/>
					<h3 id="naslov">Experience</h3>
					 <span class="glyphicon glyphicon-blackboard"></span>
					<p>I have been working from my fifteen years old and have almost eighteen years work experience. Most of that time was working in direct contact with customers where I gained all my social skills. I quit my job last year in September. My beginnings in IT world are before two years ago with WordPress, JavaScript and Front-End technologies. Last year I continued with Data Analysis and finally, I have discovered the magic of the Java world. Currently, I am participating one intensive Kurs for full stack developer.</p>
				</div>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-3 col-md-3 col-lg-offset-1 col-lg-2">
				<div class="box">
					<img
						src="images/k.png"
						alt="xxx company logo"
						class="img-responsive company-logo"/>
					<h3 id="naslov">IT competence</h3>
					<span class="glyphicon glyphicon-education"></span>
					<p>Java SE , EE,  Ajax
Data base – UML, ERD, SQL, JDBC, MySQL
Front End – Javascript, JQuery, CSS, HTML, Testing & Management – ISTQB, agile techniques, unit testing, Java EE – JSF (Java Server Faces), JPA (Java Persistence API), EJB (Enterprise Java Beans), CDI (Context Dependency Injection), RMI (Remote Method Invocation), Spring, Bootstrap, Database, Data Analysis and Programming in R, Handling of Unstructured Data, Regression Analysis, Classification, Clustering, Association rules, Text mining, Programming 1 and 2 with Java.</p>
				</div>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-3 col-md-3 col-lg-offset-1 col-lg-2">
				<div class="box">
					<img
						src="images/k.png"
						alt="xxx company logo"
						class="img-responsive company-logo"/>
					<h3 id="naslov">General</h3>
					<span class="glyphicon glyphicon-sunglasses"></span>
						<p>LIKE:Traveling & Sun Positive people Learning new things Achieving goals. I love sports, gym and especially Kickboxing.</p>
						<p>AM GOOD AT: Engage & Co-workeR To be clear Structure</p>
						<p>MY FRIENDS ABOUT ME: Generous Positive Funny & Serious Relaxed</p>
						<p>MY COLLEGES ABOUT ME: Clear inclusive Inventive & Targeted</p>
						<p>MY FAVORITE PLACES: Wherever my husband and my children are. In the kitchen, between pots and pans.
							In a good team with a challenging task to solve.</p>
				</div>
			</div>

		</div>

		<div class="section footer row">
			<h2 class="title">More about Julijana Cvetkovska</h2>
			<div class="contact-info">
				<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-12 col-md-offset-2 col-md-8 contacts">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<img class="img-responsive" src="images/cover.jpg" />
						</div>
						<div class="col-xs-12 col-sm-5">
							<p class="footerText">I am easily impressed by all who have some
talent, burning interest or deep knowledge. I am happy when I  have effective day and when I succeed in helping someone. I was always enjoying learning and exploring new things. After getting my bachelor degree and my business-administration master studies, I continue to challenge and develop myself as human, partner, and mother. With my family we moved from Macedonia to Sweden previous year. We liked the system and the balanced life more here. I started with learning Swedish language and parallelly have been taken IT courses. I believe the formula for good applications and software products is a combination of IT knowledge and great customer experience. My goal is to became a senior Java full stack.</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="section row" id="expertese">
			<div class="col-xs-offset-2 col-xs-8 col-lg-offset-1 col-lg-10">
				<h2 class="title">Contact me</h2>
				<div class="row">
					<div class="col-xs-offset-1 col-sm-offset-0 col-sm-4 col-xs-5 col-lg-offset-3 col-lg-3">
						<div class="small-box">
							<a href="https://www.linkedin.com/in/julijana-cvetkovska-java-devel/">LinkedIn</big>
							<span class="glyphicon glyphicon-link"></span>
						</div>
					</div>
					<div class="col-xs-offset-0 col-xs-5 col-sm-offset-0 col-sm-4 col-lg-offset-0 col-lg-3">
						<div class="small-box">
							<a href="mailto:julijana_cvetkovska@yahoo.com">E -mail</big>
							<button type="button" class="btn btn-default btn-sm">
         					 <span class="glyphicon glyphicon-envelope"></span> Envelope 
        					</button>
						</div>
					</div>
					<div class="col-xs-offset-0 col-xs-5 col-sm-offset-0 col-sm-4 col-lg-offset-0 col-lg-3">
						<div class="small-box">
						
							<a href="https://github.com/JuleCvet">GitHub</big>
							<span class="glyphicon glyphicon-th-list"></span>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		
	</div>

	<script type="text/javascript">
	    $(document).ready(function(){
	      $('#slick').slick({
	        slidesToShow: 1, 
	        slidesToScroll : 1,
	        autoplay: true,
	        autoplaySpeed: 3000,
	        dots: false,
	        arrows: false
	      });
	    });
	</script>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
</body>
</html>